@import "tailwindcss";

:root {
  /* Base backgrounds */
  --background: #fbebd4; /* Champagne */
  --surface: #eef2f1;    /* Porcelain */

  /* Text colors */
  --foreground: #3f2d23; /* English Walnut */
  --secondary: #876854;  /* Shadow */

  /* Accents */
  --accent: #efc595;     /* Chalky */
  --highlight: #ffd986;  /* Warm highlight */
}
[data-theme="dark"] {
  --background: #0a0a0a;
  --surface: #1a1a1a;
  --foreground: #ededed;
  --secondary: #bbbbbb;
  --accent: #efc595; /* can stay same */
  --highlight: #ffd986; 
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);

  --color-accent: var(--accent);
  --color-highlight: var(--highlight);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}


h1, h2, h3 {
  letter-spacing: -0.02em;
}
